extends layout

block content
  h1 Bem-vindos à página inicial!
  h2 Nesta plataforma, através dos links abaixo, será possível acerder 2 páginas, a página de classes nível 1 e a página de Termos de índice

  table.w3-table-all
    tr
      th.w3-center Classes 
      th.w3-center Termos de Índice
    tr 
      td.w3-center
        a(href="/classes") Classes Link
      td.w3-center
        a(href="/termosIndice") Termos de Índice Link